{
  "client_info": {
    "mobilesdk_app_id": "YOUR_MOBILE_SDK_APP_ID",
    "android_client_info": {
      "package_name": "com.example.smart_bat_app"
    },
    "ios_client_info": {
      "bundle_id": "com.example.smart_bat_app"
    }
  },
  "project_info": {
    "project_number": "419313572643",
    "project_id": "smart-cricket-bat",
    "storage_bucket": "smart-cricket-bat.appspot.com"
  },
  "api_key": [
    {
      "current_key": "YOUR_API_KEY"
    }
  ],
  "services": {
    "appinvite_service": {
      "other_platform_oauth_client": [
        {
          "client_id": "YOUR_WEB_CLIENT_ID",
          "client_type": 3
        }
      ]
    }
  },
  "oauth_client": [
    {
      "client_id": "YOUR_IOS_CLIENT_ID",
      "client_type": 1,
      "ios_info": {
        "bundle_id": "com.example.smart_bat_app"
      }
    },
    {
      "client_id": "YOUR_WEB_CLIENT_ID",
      "client_type": 3
    }
  ],
  "configuration_version": "1"
}
